@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  background-color: #c4c4c4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

  /* -------- Color Variables -------- */
  --redBg: 253, 243, 239;
  --redText: 208, 25, 30;
  --greenBg: 234, 245, 236;
  --greenText: 14, 125, 28;
}

body * {
  font-family: Poppins, sans-serif !important;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.shadow-even {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
